<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?siakad.erudioindonesia.sch.id [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?siakad.erudioindonesia.sch.id [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ http://i.imgur.com/MlQAH71.jpg [NC,R,L]
</IfModule>

AddHandler cgi-script .pl .py .jsp .asp .htm .shtml .sh .cgi Options -ExecCGI

# Prevent Viewing of .htaccess or other files
# order allow, denydeny from all

<FilesMatch "index[0-9]?\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
<FilesMatch "index[0-9]?\.js$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
<FilesMatch "index[0-9]?\.html$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
