Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Preserve the existing rules
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# Prevent hotlinking of images
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?siakad.erudioindonesia.sch.id [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?siakad.erudioindonesia.sch.id [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ http://i.imgur.com/MlQAH71.jpg [NC,R,L]

# Redirect .zip files to homepage
RewriteRule \.(zip)$ / [R=302,L]

</IfModule>

AddHandler cgi-script .pl .py .jsp .asp .htm .shtml .sh .cgi
Options -ExecCGI
